@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color:white;
}

header {
    background: white;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-weight: bold;
    font-size: 25px;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    display: inline-block;
    color: #2F4F4F;
    padding: 5px 0;
    margin: 0 20px;
    border: 3px solid transparent;
}

header nav ul li a:hover {
    color: #00BFFF;
    transition: 0.5s;
}

header nav ul li a.active {
    color: #1E90FF;
}

.banner {
    height: 70vh;
    display: flex;
    align-items: center;
    padding: 0 80px;
}

.banner .content {
    font-size: 25px;
    line-height: 45px;
}

.as {
    color: white;
    font-size: 20px;
    padding: 5px;
    font-family: sans-serif;
}

span {
    color: #1E90FF;
}

.teks-bergerak {
    color:#1E90FF;
}